.main-container-table {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;

  &__title {
    font-size: 35px;
  }
}

.card-container-table {
  margin: 3rem;
}

@media only screen and (max-width: 800px) {
  .main-container-table {
    align-items: baseline;
    &__title {
      align-self: baseline;
    }
  }

  .card-container-table {
    width: max-content;
  }
}
