/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0px;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fffff0;
}

mat-form-field {
  width: 100%;
}

.confirmation-toast > div > div {
  background-color: green;
  text-align: center;
}

.error-toast > div > div {
  background-color: red;
  text-align: center;
  font-size: 20px;
}

.error-toast > div {
  padding: 0px;
}

.confirmation-toast > div {
  padding: 0px;
}
